<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <div align="center">
        <br>
        <a href="insert_page_disease_list">添加信息</a>
        <br>
        <br>
        <table  id = 'tabledemo'lay-filter="test">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:100}">编号</th>
            <th lay-data="{field:'name', width:100}">疾病名称</th>
            <th lay-data="{field:'ifImg', width:100}">是否有图像记录</th>
            <th lay-data="{field:'ifText', width:80, sort:true}">是否有数据记录</th>
            <th lay-data="{field:'lastEditTime'}">上次编辑时间</th>
            <th lay-data="{field:'hid'}">入库id</th>
            <th lay-data="{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in disease_list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ifImg}}</td>
                <td>{{item.ifText}}</td>
                <td>{{item.lastEditTime}}</td>
                <td>{{item.hid}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="../static/layui/layui.js"></script>
<script>

    layui.use('table', function () {
        var table = layui.table;

//转换静态表格
        table.init('test', {
            height: 1000,
            width: 1000//设置高度
            ,limit:100
        });
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
    layer.confirm('真的删除行么', function(index){
        location.href='/delete_disease_list?id='+data.id;
      });
    } else if(layEvent === 'edit'){
      location.href="/alter_disease_list?id="+data.id+"&ifImg="+data.ifImg+"&ifText="+data.ifText+"&lastEditTime="+data.lastEditTime+"&hid="+data.hid;
    }
  });
    });
</script>
</body>
</html>