<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>

<div class="layui-main">
    <div class="site-content">
        <br><br>
        <h1 class="site-h1">修改信息</h1>
        <br><br>
        <form class="layui-form" action="alter_disease_suffered" method="post">
            <input name="id" type = "hidden" value="{{diseaseSuffered.id}}">
            <div class="layui-form-item">
                <label class="layui-form-label">入库id</label>
                <div class="layui-input-block">
                    <input type="number" name="hid" required lay-verify="required" placeholder="请输入入库id"
                           autocomplete="off"
                           class="layui-input" value="{{diseaseSuffered.hid}}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">罹患疾病</label>
                <div class="layui-input-block">
                    <input type="text" name="diseaseGet" required lay-verify="required" placeholder="请输入罹患疾病" autocomplete="off"
                           class="layui-input" value="{{diseaseSuffered.diseaseGet}}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">患病时间</label>
                <div class="layui-input-block">
                    <input type="number" name="time" required lay-verify="required" placeholder="请输入患病时间"
                           autocomplete="off"
                           class="layui-input" value="{{diseaseSuffered.time}}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../static/layui/layui.js"></script>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
</body>
</html>