<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加</title>

 <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>

<div class="layui-main">
    <div class="site-content">
        <br><br>
       <h1 class="site-h1">添加信息</h1>
<br><br>
<form class="layui-form" action="insert_edit_record" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">修改内容</label>
        <div class="layui-input-block">
            <input type="text" name="content" required lay-verify="required" placeholder="请输入修改内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-block">
            <input type="text" name="editor" required lay-verify="required" placeholder="请输入修改人" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-block">
            <input type="number" name="time" required lay-verify="required" placeholder="请输入修改时间" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
</body>
</html>