<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>增加</title>

    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>

<body>

    <div class="layui-main">
        <div class="site-content">
            <br><br>
            <h1 class="site-h1">添加信息</h1>
            <br><br>
            <form class="layui-form" action="insert_people" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">入库id</label>
                    <div class="layui-input-block">
                        <input type="number" name="hid" required lay-verify="required" placeholder="请输入入库id"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">住址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" required lay-verify="required" placeholder="请输入住址"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="number" name="age" required lay-verify="required" placeholder="请输入修改年龄"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">病史</label>
                    <div class="layui-input-block">
                        <input type="text" name="disease_history" required lay-verify="required" placeholder="请输入病史"
                            autocomplete="off" class="layui-input">
                    </div>
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label">工作</label>
                    <div class="layui-input-block">
                        <input type="text" name="work" required lay-verify="required" placeholder="请输入工作"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
</body>

</html>