<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询6</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>

<body>
    <div class="layui-main">
        <div class="site-content">
            <br><br>
            <h1 class="site-h1"></h1>
            <br><br>
            <form class="layui-form" action="query3exe" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" name="data_age" required lay-verify="required" placeholder="请输入年龄"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                    <label class="layui-form-label">职业</label>
                    <div class="layui-input-block">
                        <input type="text" name="data_work" required lay-verify="required" placeholder="请输入职业"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
</body>

</html>