<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>库内表列表</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        div {
            text-align: center;
            margin: auto;
                }
    </style>

</head>
<body>
    <div>
        <br>
        <br>
        <p>查询方式如下</p>
        <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "1" >
            <input type="submit" value="给定疾病名称，查询病人的职业" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "2" >
            <input type="submit" value="给定疾病名称，查询疾病数据来源所患有的疾病" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "3" >
            <input type="submit" value="给定疾病名称，查询疾病来源地" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "4" >
            <input type="submit" value="给定疾病，查询该疾病的患病人数" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "5" >
            <input type="submit" value="给定疾病，查询患有该病的患者的平均年龄" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "6" >
            <input type="submit" value="给定年龄和职业，查找患者患有的疾病" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "7" >
            <input type="submit" value="给定修改人查询修改时间和修改内容" class="layui-btn">
        </form>
            <br>
            <br>
        <form action="querychoose" method="GET">
            <input type="hidden" name="choice" value = "8" >
            <input type="submit" value="给定疾病名称，查询提供疾病资料的人的病史" class="layui-btn">
        </form>
            <br>
            <br>
    </div>
</body>
</html>