
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>介绍</title>
</head>
<body>
    <!-- 大大大标题1 -->
    <h1>医疗数据库</h1>
    <hr/>

    <h2>介绍</h2>
    <!-- 输出字符串 -->
    这是一个数据库的大作业（这里计划是个详细介绍，有缘再写吧）<br/>
    <hr/>

    <!-- 大大大标题2 -->
    <h2>ER图</h2>
    <!-- 输出变量 这里啥也不是，只是夹带私货说一句：我的狗好可爱啊呜呜呜-->
    {{a}} <br/>
    <!-- 图 E-R图似乎有些小变化，但似乎还没画，先用狗狗代替吧 -->
    <img src="https://raw.githubusercontent.com/mmmmmmsy/DatabaseHUGE-Homework/master/templates/images/cutedog.jpg">
    <br/>
    <!-- 超链接 -->
    <a href="index">登录</a><br/>
</body>
</html>