<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <div align="center">
        <br>
        <a href="insert.html">添加城市</a>
        <br>
        <br>
        <table  id = 'tabledemo'lay-filter="test">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:100}">编号</th>
            <th lay-data="{field:'provincename', width:100}">省份</th>
            <th lay-data="{field:'cityname', width:80, sort:true}">城市名称</th>
            <th lay-data="{field:'usernumber'}">用户数量</th>
            <th lay-data="{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in city_list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.provincename}}</td>
                <td>{{item.cityname}}</td>
                <td>{{item.usernumber}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="../static/layui/layui.js"></script>
<script>

    layui.use('table', function () {
        var table = layui.table;

//转换静态表格
        table.init('test', {
            height: 1000,
            width: 600//设置高度
            ,limit:100
        });
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
    layer.confirm('真的删除行么', function(index){
        location.href='/delete?id='+data.id;
      });
    } else if(layEvent === 'edit'){
      location.href='alter.html?id=' + data.id + "&provincename=" +data.provincename + "&cityname=" + data.cityname + "&usernumber=" + data.usernumber;
    }
  });
    });
</script>
</body>
</html>