<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>introduction</title>
</head>
<body>
    <!-- 大大大标题1 -->
    <h1>医疗数据库</h1>
    <hr/>

    <h2>介绍</h2>
    <!-- 输出字符串 -->
    这是一个数据库的大作业（这里计划是个详细介绍，有缘再写吧）<br/>

    <!-- 输出变量 这里啥也不是，只是说一句：我的狗好可爱啊呜呜呜-->
    {{a}} <br/>
    <!-- 画横线 -->
    <hr/>
    <!-- 大大大标题2 -->
    <h2>ER图</h2>
    <!-- 图 -->
    <img src="https://github.com/mmmmmmsy/DatabaseHUGE-Homework/templates/images/picture.png">
    <!-- 超链接 -->
    <a href="user/">登录</a><br/>
</body>
</html>
